#sunnydoll {
  display: flex;
  width: 480px;
  height: 150px;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

h1 {
  margin: auto;
  color: black;
  font-size: 80px;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
}

#cart-title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 48px;
  color: rgb(0, 0, 0);
  margin-top: 30px;
}

.cart-grid {
  place-items: center;
}

.cart-row {
  display: flex;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 30px;
  background-color: rgb(244, 235, 236);
}

.cart-row:hover {
  cursor: pointer;
  background-color: rgb(242, 212, 217);
}

.cart-item {
  display: flex;
  width: 80%;
  align-items: center;
}

.cart-column {
  font-family: calibri;
  margin-right: 1.5em;
  margin-top: 10px;
  margin-left: 20px;
}

.input-label {
  margin-left: 20px;
}

.cart-quantity-input {
  width: 40px;
  height: 20px;
  margin-top: 10px;
}

.remove-item {
  justify-self: end;
}

.cart-total {
  max-width: 1200px;
  font-size: 23px;
  font-family: calibri;
  font-weight: bold;
  margin-top: 20px;
  display: grid;
  text-align: right;
  margin-bottom: 30px;
}
